<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/pmtiles@latest/dist/pmtiles.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.css" rel="stylesheet" />
</head>

<body>
    <!-- Load prerequisite files before others so globals can be shared -->
    <script src="{{ url_for('static', filename='js/globals.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>

    <!-- Use jinja templating to load all of the files in js/components/ -->
    <!-- <p>{{components_filenames}}</p> -->
    {% for filename in components_filenames %}
    <script src="{{ url_for('static', filename='js/components/' + filename) }}"></script>
    {% endfor %}

    <main>
        <section id="map-container">
            <button id="toggle-panel-button" aria-label="Toggle Options Panel">☰</button>
            <div id="options-panel" class="minimized">
                <div id="panel-spacer" style="height: 20px;"></div>
                <div id="options-content">
                    <div id="toggle-options" style="margin-bottom: 10px;">
                        <button id="toggle-button-gages">Show gages</button>
                        <button id="toggle-button-camels">Show CAMELS basins</button>
                        <button id="toggle-button-nwm">Overlay NWM chunks</button>
                        <button id="toggle-button-aorc">Overlay AORC chunks</button>
                        <button id="toggle-button-forecast">Show Forecast Data</button>
                    </div>
                    <scale-config id="scale-config"></scale-config>
                    <region-selector id="region-selector"></region-selector>
                    <time-config id="time-config"></time-config>
                    <animation-control id="animation-control"></animation-control>
                </div>
            </div>
            <script>
                document.getElementById('toggle-panel-button').addEventListener('click', function () {
                    const panel = document.getElementById('options-panel');
                    // panel.classList.toggle('hidden');
                    panel.classList.toggle('expanded');
                    panel.classList.toggle('minimized');
                });
            </script>
            <div id="map"></div>
            <!-- <threshold-legend id="threshold-legend"></threshold-legend> -->
        </section>
        <script src="{{ url_for('static', filename='js/after_map.js' ) }}"></script>



    </main>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
    <div id="console" class="minimized">
        <div class="center">
            <button id="toggleConsole">Show Console</button>
        </div>
        <div id="logOutput"></div>
    </div>
    <!-- Leaving these manual... Trying to dynamically load them causes problems -->
    <script src="{{ url_for('static', filename='js/map_configs/scale_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/time_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/basic_layers.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/region_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/forecast_layers.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/gages_layer.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/layer_toggles.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/resume_session.js' ) }}"></script>

    <script src="{{ url_for('static', filename='js/console.js') }}"></script>
</body>

</html>