<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/pmtiles@latest/dist/pmtiles.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.css" rel="stylesheet" />
</head>

<body>
    <!-- <header>
        <h1>Select catchments by clicking!</h1>
    </header> -->
    <main>
        <section id="map-container">
            <button id="toggle-panel-button" aria-label="Toggle Options Panel">☰</button>
            <div id="options-panel" class="minimized">
                <div id="panel-spacer" style="height: 20px;"></div>
                <div id="options-content">
                    <div id="toggle-options" style="margin-bottom: 10px;">
                        <button id="toggle-button-gages">Show gages</button>
                        <button id="toggle-button-camels">Show CAMELS basins</button>
                        <button id="toggle-button-nwm">Overlay NWM chunks</button>
                        <button id="toggle-button-aorc">Overlay AORC chunks</button>
                        <button id="toggle-button-forecast">Show Forecast Data</button>
                    </div>
                    <section id="scale-settings">
                        <!-- 
                        Controls for modifying the granularity of the displayed data
                        E.g., by default the grid is coarsened such that groups of 16x16 cells are summed together
                        This section allows the user to modify that coarsening factor
                        xarray allows coarsening by x and y separately, so we can allow both to be modified
                        -->
                        <label for="scale-settings">Data Scale Settings:</label>
                        <div class="scale-axis-lock-toggle">
                            <input type="checkbox" id="scale-axis-lock" name="scale-axis-lock" checked>
                            <label for="scale-axis-lock">Lock X and Y axis scaling</label>
                        </div>
                        <div class="scale-x-input">
                            <label for="scale-x">X Scale (size of summed blocks in x direction):</label>
                            <input type="range" id="scale-x" name="scale-x" value="16" min="1" max="64" step="1">
                            <span id="scale-x-value">16</span>
                            <!-- Currently set value: -->
                            <span id="set-scale-x-value">16</span>
                        </div>
                        <div class="scale-y-input">
                            <label for="scale-y">Y Scale (size of summed blocks in y direction):</label>
                            <input type="range" id="scale-y" name="scale-y" value="16" min="1" max="64" step="1">
                            <span id="scale-y-value">16</span>
                            <!-- Currently set value: -->
                            <span id="set-scale-y-value">16</span>
                        </div>
                        <!-- Button to apply the selected scale settings. Will update the displayed values, and re-request data with the new scale -->
                        <button id="set-scale">Set Scale</button>
                    </section>
                    <div id="region-selection">
                        <label for="region-selection">Region Selection:</label>
                        <!-- Use sliders to select specific region of map for data access -->
                        <div id="region-col-selection"></div>
                        <div id="region-row-selection"></div>
                        <button id="set-region">Set Region</button>
                    </div>
                    <section id="time-settings">
                        <label for="time-settings">Time Settings:</label>
                        <div class="time-input" style="display: flex; flex-direction: column; margin-bottom: 10px;">
                            <label for="target-time">Target Time:</label>
                            <input type="datetime-local" id="target-time" name="target-time" value="2018-09-17T00:00"
                                min="2018-09-17T00:00">
                        </div>
                        <div class="lead-time-input">
                            <label for="lead-time">Lead Time (hours):</label>
                            <input type="range" id="lead-time" name="lead-time" value="1" min="1" max="18" step="1">
                            <span id="lead-time-value">1</span>
                        </div>
                        <div class="forecast-cycle-input">
                            <label for="forecast-cycle">Forecast Cycle:</label>
                            <input type="range" id="forecast-cycle" name="forecast-cycle" value="0" min="0" max="23"
                                step="1">
                            <span id="forecast-cycle-value">0</span>
                        </div>
                        <div class="selected-values" style="outline: 1px solid #ccc; padding: 3px; margin-top: 10px;">
                            <!--Display the values as they were when the `set-time` button was last pressed-->
                            <!--The user must press the button for this section to be populated-->
                            <p>Selected Time: <span id="selected-time">None</span></p>
                            <p>Selected Lead Time: <span id="selected-lead-time">None</span></p>
                            <p>Selected Forecast Cycle: <span id="selected-forecast-cycle">None</span></p>
                        </div>
                        <button id="set-time">Set Time</button>
                    </section>
                </div>
            </div>
            <script>
                document.getElementById('toggle-panel-button').addEventListener('click', function () {
                    const panel = document.getElementById('options-panel');
                    // panel.classList.toggle('hidden');
                    panel.classList.toggle('expanded');
                    panel.classList.toggle('minimized');
                });
            </script>
            <div id="map"></div>
        </section>




    </main>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
    <div id="console" class="minimized">
        <div class="center">
            <button id="toggleConsole">Show Console</button>
        </div>
        <div id="logOutput"></div>
    </div>
    <script src="{{ url_for('static', filename='js/console.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/data_processing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/scale_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/time_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/basic_layers.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/region_config.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/forecast_layers.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/layer_toggles.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/map_configs/resume_session.js' ) }}"></script>
</body>

</html>